body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #3e63b877;
}

#container {
    display: flex;
    flex-direction: column;
    /*height: 100vh;*/
    justify-content: center;
    align-items: center; /* Center child elements horizontally */
    background-color: #3e63b877;
}

#description {
    display: flex;
    color: white;
    flex-direction: column;
    text-align: left;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #3e63b8;
    font-size: 1.2em;
}

h1, h3 {
    margin-bottom: 0.1em; /* Reduce the space between headings */
}

#map, #description {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

#map {
    background-color: #ddd; /* Placeholder for the map */
}


/*@media (max-width: 600px) {
    #container {
        flex-direction: column;
    }

    #map, #description {
        height: 50vh; 
    }
}*/

#scroll-down-arrow {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    cursor: pointer;
    color: red;
}

#scroll-up-arrow {
    position: absolute;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    cursor: pointer;
    z-index: 10000;
    color: red; /* Adjust color as needed for visibility */
}

@media (max-width: 600px) {
    #scroll-down-arrow {
        bottom: 15vh; /* Adjust as needed for smaller screens */
    }
    #scroll-up-arrow {
        top: 8vh; /* Adjust as needed for smaller screens */
    }
}

.event-badge {
    display: inline-block;
    background-color: #f3733d;
    font-size: 1.3em;
    color: white;
    border-radius: 50%;
    padding: 0.4em 0.7em;
    font-size: 2.2em;
    font-weight: bold;
    margin-left: 10px;
    vertical-align: middle;
    transform: rotate(-10deg);
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: #3e63b8;
    padding: 20px;
    box-sizing: border-box;
}

li::marker {
    color: #abc81b;
}

/* New CSS for the content */
.logo .content-logo {
    flex: 1;
}

.small-text {
    font-size: 0.8em;
}